params {

    // Input Options
    sample = null
    reference = null
    prefix_genome = null
    
    // Compute Resource Ceiling 
    max_memory = '8'
    max_cpus = '4'
    max_time = '2h'

}

process {
    resourceLimits = [ cpus: 8, memory: 30.GB, time: 1.h ]
}

docker {
        enabled = true 
    }

process {
    debug = true
    containerOptions = "--user root"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'