
params {

    // Input Parameters
    sample = '/samplesheet.csv'
    sequence = '/Reads/GCF_000146045.2_R64_genomic.fa'
    max_memory                 = null
    max_cpus                   = null
    max_time                   = null

}

docker {
    enabled = true
    platform = 'linux/amd64'
}

process {
    debug = true
}

// Load base.config by default for all pipelines
includeConfig '/conf/base.config'